<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename= 'anotherstyle.css') }}">
    <title>Document</title>
</head>
<body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae et error officia, vero obcaecati amet laudantium voluptas deleniti facilis dolorem in, ipsum enim cumque? Soluta perspiciatis magnam quia repellendus quod.
</body>
</html>